{% extends "offermaker.html" %}

{% block BODY %}

{% verbatim %}


<div class="body">
<h1 class="title">Django OfferMaker</h1>


<p><tt class="docutils literal"><span class="pre">django-offermaker</span></tt> library is a solution for Django applications, which allows
to create <em>multi variant offers</em> and use them on your site.</p>
<p><em>Multi variant offer</em> is a structure which defines dependencies between values for
given set of fields.</p>
<p>Eg. for the fields <strong>credit contribution</strong> and <strong>number of instalments</strong> we
have the following dependencies:</p>
<blockquote>
<ul class="simple">
<li>for <strong>0%</strong> credit contribution, it is required to have maximum <strong>12</strong>
instalments,</li>
<li>for <strong>10%+</strong> contribution, it is allowed to have <strong>12-24</strong> instalments,</li>
<li>and for <strong>20%+</strong> contribution, it is allowed to have <strong>12-36</strong> instalments.</li>
</ul>
</blockquote>
<div class="section" id="functions-of-django-offermaker">
<h1>Functions of <tt class="docutils literal"><span class="pre">django-offermaker</span></tt></h1>
<blockquote>
<ul class="simple">
<li>Create and edit <em>multi variant offer</em> by using <strong>Offermaker Admin Editor</strong>.</li>
<li>Display <em>multi variant offer</em> in tabular way by using <strong>Offermaker Template
Tag</strong>.</li>
<li>Display form which dynamically adjusts to user filled values based on
<em>multi variant offer</em> by using <strong>OfferMakerFormView Generic View</strong>.</li>
<li>Make decision which variant of <em>multi variant offer</em> is suitable for
given parameters by using <strong>decide helper</strong>.</li>
</ul>
</blockquote>
</div>
<div class="section" id="changelog">
<h1>Changelog</h1>
<ul>
<li><p class="first">0.9.8</p>
<blockquote>
<ul class="simple">
<li>Selenium test for offermaker admin editor and offermaker form and bug fixes
in supported Django and Python versions.</li>
</ul>
</blockquote>
</li>
<li><p class="first">0.9.7</p>
<blockquote>
<ul class="simple">
<li>Added Class Based View for offermaker form</li>
<li>Added decide() method</li>
</ul>
</blockquote>
</li>
<li><p class="first">0.9.5</p>
<blockquote>
<ul class="simple">
<li>Small bug fixes</li>
</ul>
</blockquote>
</li>
<li><p class="first">0.9.4</p>
<blockquote>
<ul class="simple">
<li>Django 1.7 support</li>
<li>Python 3 support</li>
</ul>
</blockquote>
</li>
</ul>
</div>
<div class="section" id="support">
<h1>Support</h1>
<ul class="simple">
<li>Environments: Python 2.6, Python 2.7, Python 3.2, Python 3.3, Python 3.4, PyPy,</li>
<li>Django versions: Django 1.5, Django 1.6, Django 1.7 (Python 2.6 is not supported),</li>
</ul>
</div>
<div class="section" id="demo-application">
<h1>Demo application</h1>
<ol class="arabic">
<li><p class="first">You can check it online <a class="reference external" href="http://offermaker.kjw.pt">http://offermaker.kjw.pt</a></p>
</li>
<li><p class="first">Or checkout and install locally:</p>
<pre class="literal-block">git clone git@github.com:kkujawinski/django-offermaker-demo.git
</pre>
</li>
</ol>
</div>
<div class="section" id="quick-start">
<h1>Quick start</h1>
<ol class="arabic">
<li><p class="first">Install django-offermaker</p>
<pre class="literal-block">pip install django-offermaker
</pre>
</li>
<li><p class="first">Site configuration in settings.py</p>
<pre class="literal-block">INSTALLED_APPS = (
    ...
    'offermaker',
)
</pre>
</li>
<li><p class="first">Create Django form with needed fields:</p>
<pre class="literal-block">from django import forms

class MyForm(forms.Form):
    product = forms.ChoiceField(
        label='Product',
        choices=(
            ('', '---'), ('PROD1', 'Product X'), ('PROD2', 'Product Y'), ('PROD3', 'Product Z'),
        ),
        required=False)
    crediting_period = forms.ChoiceField(
        label='Crediting period',
        choices=(('', '---'), ('12', '12'), ('24', '24'), ('36', '36'), ('48', '48')))
    interest_rate = forms.FloatField(label='Interest rate', min_value=1, max_value=5)
    contribution = forms.FloatField(label='Contribution', min_value=0)

    # # Uncomment for Django 1.5
    # def __init__(self, *args, **kwargs):
    #     super(MyForm, self).__init__(*args, **kwargs)
    #     self.fields['interest_rate'].widget.attrs['data-om-type'] = 'number'
    #     self.fields['interest_rate'].widget.attrs['data-om-min'] = 1
    #     self.fields['interest_rate'].widget.attrs['data-om-max'] = 5
    #     self.fields['contribution'].widget.attrs['data-om-type'] = 'number'
    #     self.fields['contribution'].widget.attrs['data-om-min'] = 0
</pre>
</li>
<li><p class="first">Define your offer (in case you do not store it in database):</p>
<pre class="literal-block">offer = {
    'params': {},
    'variants': [[
        {
            'params': {
                'crediting_period': ['24'],
                'product': ['PROD1']
            }
        }, {
            'params': {
                'crediting_period': ['12', '36', '48'],
                'product': ['PROD2']
            }
        }, {
            'params': {
                'product': ['PROD3']
            }
        }
    ], [
        {
            'params': {
                'contribution': [[10, 20]],
                'interest_rate': [[2, 2]],
                'product': ['PROD1']
            }
        }, {
            'params': {
                'contribution': [[30, 40]],
                'interest_rate': [[4, 4]],
                'product': ['PROD1']
            }
        }, {
            'params': {
                'contribution': [[30, 70]],
                'interest_rate': [[5, 5]],
                'product': ['PROD2', 'PROD3']
            }
        }
    ]]
}
</pre>
</li>
<li><p class="first">Offer form:</p>
</li>
</ol>
<ol class="loweralpha">
<li><p class="first">Use dispatcher code in Django view</p>
<pre class="literal-block">import offermaker

class MyOfferFormView(offermaker.OfferMakerFormView):
    form_class = MyForm
    offermaker_offer = offer
    template_name = 'my_offer_form_view.html'

my_offer_form_view = MyOfferFormView.as_view()
</pre>
</li>
<li><p class="first">Initialize offerform in template</p>
<pre class="literal-block">&lt;head&gt;
{% load offermaker %}
&lt;script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
{% offermaker_javascript %}
&lt;/head&gt;

&lt;body&gt;

&lt;form action="?" method="post" id="offer_form"&gt;
    &lt;div class="alert-placeholder" style="height: 30px;"&gt;&lt;/div&gt;
    {% csrf_token %}
    {{ form.as_p }}
    &lt;button type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;


&lt;script type="text/javascript"&gt;
    (function() {
        $('#offer_form').offer_form();
    })();
&lt;/script&gt;
</pre>
</li>
</ol>
<ol class="arabic simple" start="6">
<li>Offer preview with Offermaker Template Tag</li>
</ol>
<ol class="loweralpha">
<li><p class="first">Pass offer form object from view to template:</p>
<pre class="literal-block">class MyOfferPreviewView(TemplateView):
    template_name = 'offer_preview.html'

    def get_context_data(self):
        output = super(MyOfferPreviewView, self).get_context_data()
        output['offer'] = offermaker.OfferMakerCore(MyForm, offer)
        return output
</pre>
</li>
<li><p class="first">Use proper template tag in template to print table:</p>
<pre class="literal-block">{% load offermaker %}

{% offermaker_preview offer %}
</pre>
</li>
</ol>
<ol class="arabic simple" start="7">
<li>Offermaker Admin Editor:</li>
</ol>
<ol class="loweralpha">
<li><p class="first">Use OfferJSONField field in your model. Remember to pass your django form created in 3.:</p>
<pre class="literal-block">import offermaker

class MyOfferMakerField(offermaker.OfferJSONField):
    form_object = MyForm()

class MyOffer(models.Model):
    id = models.AutoField(primary_key=True)
    name = models.CharField(max_length=30)
    offer = MyOfferMakerField()
</pre>
</li>
<li><p class="first">Create your own Admin Site for model:</p>
<pre class="literal-block">import models

class OfferAdmin(admin.ModelAdmin):
    list_display = ('name',)
    search_fields = ('name', 'user')
    fields = ('name', 'offer')

    # # Uncomment for Django 1.5
    # class Media:
    #     js = ('//code.jquery.com/jquery-1.11.0.min.js',)


admin.site.register(models.Offer, OfferAdmin)
</pre>
</li>
</ol>
<ol class="arabic" start="7">
<li><p class="first">Decide helper:</p>
<pre class="literal-block">core_object = offermaker.OfferMakerCore(MyForm, offer)

result = core_object.decide({'crediting_period': 24})
print(result['product'].items)
# frozenset({'PROD1', 'PROD3'})
print(result['interest_rate'].ranges)
# frozenset({(4, 4), (5, 5), (2, 2)})
print(result['contribution'].ranges)
# frozenset({(10, 20), (30, 70)})

result = core_object.decide({'crediting_period': 24, 'interest_rate': 2})
print(result['product'].fixed)
# PROD1
</pre>
</li>
</ol>
</div>
<div class="section" id="basic-customization">
<h1>Basic customization</h1>
<ol class="arabic simple">
<li>Using offers stored in database:</li>
</ol>
<ol class="loweralpha">
<li><p class="first">you need to pass proper offer object to Offermaker in form/preview view:</p>
<pre class="literal-block">offer = MyOffer.objects.filter(id=request.GET['id']).first()
core_object = offermaker.OfferMakerCore(MyForm, offer.offer)
</pre>
</li>
<li><p class="first">and configure proper params to be used in ajax requests:</p>
<pre class="literal-block">$('#offer_form').offer_form({
    ajax_extra_params: function(params) {
        return { id: {{ request.GET.id }} };
    },
});
</pre>
</li>
</ol>
<ol class="arabic" start="2">
<li><p class="first">Substituting builtin formatters for infotip and error alerts:</p>
<pre class="literal-block">$('#offer_form').offer_form({
    error_alert_factory: function (msg) {
        var $error = $('&lt;p class="error"&gt;&lt;span&gt;' + msg + '&lt;/span&gt;&lt;/p&gt;');
        $('.alert-placeholder', $form).append($error);
        return $error;
    },
    tooltip_factory: function ($field, msg) {
        var $tooltip = $('&lt;p class="infotip"&gt;' + msg + '&lt;/p&gt;');
        $field.parent().append($tooltip);
        return $tooltip;
    }
});
</pre>
</li>
<li><p class="first">Use builtin formatters for Twitter Bootstap3:</p>
<pre class="literal-block">(function() {
    $('#offer_form').offer_form({
        bootstrap3: true,
    });
})();
</pre>
</li>
<li><p class="first">Customizing messages:</p>
<pre class="literal-block">(function() {
    $('#offer_form').offer_form({
        msgs: {
            'NO_VARIANTS': 'No matching variants',
            'INFO_ITEMS': 'Available values are: %s.',
            'INFO_FIXED': 'Only available value is %s.',
            'RANGE_left': 'to %2$s',
            'RANGE_right': 'from %1$s',
            'RANGE_both': 'from %1$s to %2$s',
            'AND': ' and '
        },
        iteration_str: function (items) {
            return items.slice(0, -2).concat(items.slice(-2).join(msgs.AND)).join(', ');
        }
    });
})();
</pre>
</li>
<li><p class="first">Creating preview table for certain fields:</p>
<pre class="literal-block">{% offermaker_preview offer fields='product, crediting_period' %}
</pre>
</li>
<li><p class="first">Add html attributes to generated preview table:</p>
<pre class="literal-block">{% offermaker_preview offer class='table table-bordered' %}
</pre>
</li>
</ol>
</div>
 </div>


{% endverbatim %}

{% endblock %}